<h1 align="center">Articles</h1>
<div align="center">
  <%= will_paginate @articles %>
</div>  
<%= render 'article_list', obj: @articles %>
<div align="center">
  <%= will_paginate @articles %>
</div> 
