<!DOCTYPE html>
<!-- Can't do the vertical line :( -->
<html>
<head>
 <title></title>
 <style>
 html { font-family: Arial, Helvetica, sans-serif; }
 body { background: #ccc; margin: 10px auto; }
 h1 { margin: 0px auto 0px auto; display: block; text-align: center; padding: 10px;}
 img { height: 300px; width: 650px; margin: 0px auto 0px auto; display: block; }
 #container { width: 800px; margin: 0 auto; background: #fff; }
 #header { width: 100%; height:200px; border-bottom: 1px solid #c7c7c7; }
 #banner { height: 370px; clear: both; } 
 #cols { height: 300px; overflow-y: scroll; }
 #left_col { float: left; width: 380px; padding: 0px 10px 0px 10px; }
 #right_col { float: right; width: 380px; padding-left: 0px 10px 0px 10px;}
 #footer { clear: both; padding: 10px; background: } 
 
 </style>
</head>
<body>
 <div id="container">
 <div id="content_area">
 <div id="banner">
 <h1>Welcome to my Webpage!</h1> 
 <img src="https://goo.gl/ZYsX5t" alt="Canyonlands"></img>
 </div>
 <hr> 
 <div id="cols">
 <div id="left_col">
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam porta orci sed dictum. Pellentesque tincidunt, quam sed faucibus porttitor, turpis tellus porta metus, nec lacinia felis ante at orci. Suspendisse ac magna a sem rhoncus vestibulum at et massa. Ut blandit, velit in ornare pharetra, nunc lorem fermentum diam, at tempus massa odio eu lectus. Sed at tempor odio. Nulla nec sapien lectus. Aenean lectus ligula, euismod at nisi in, hendrerit tincidunt felis.
 Nunc molestie eget nisi vitae dictum. Mauris sodales nisl id metus bibendum, ac ornare odio finibus. Etiam eget lacus nisi. Aenean eget consectetur lorem. Sed vel feugiat tortor. Nunc rutrum pellentesque purus, ac tristique orci laoreet eget. Sed posuere vestibulum euismod. Curabitur pretium id leo ut placerat. Nulla turpis nulla, eleifend vitae dui ut, volutpat ultricies ipsum. Ut a mauris at magna egestas sodales vel eu augue. Donec sagittis vel erat eget vulputate. In vel bibendum nisl, a mattis quam. Praesent finibus enim ut dui dictum pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse rhoncus imperdiet nulla, in egestas diam tincidunt quis. Vestibulum eu convallis massa.
 Cras in enim viverra, molestie leo a, semper libero. Curabitur eget iaculis eros. Pellentesque fermentum dolor sed ex vulputate elementum. Proin mollis orci nec aliquet elementum. Donec malesuada lacus ac sollicitudin egestas. Vivamus id fermentum odio. In at velit in ligula condimentum ultricies et eu ipsum. Aliquam dignissim cursus dui quis pretium. Fusce et risus turpis. Curabitur id dolor faucibus, accumsan lacus ac, interdum nunc. In a consequat nisi, ac vehicula ex.
 Duis sit amet ligula sit amet orci interdum ultricies quis at neque. Nam urna nisi, pretium in cursus non, tristique placerat lacus. Sed eleifend turpis id ante laoreet dapibus. Donec interdum lacus ex, at venenatis dui mollis sit amet. Integer massa urna, malesuada in risus vitae, gravida bibendum nulla. Donec sit amet massa nec odio venenatis porttitor in a felis. Duis vel cursus purus, in porttitor lacus. Etiam laoreet odio iaculis orci pharetra cursus.
 Integer ultricies fermentum malesuada. Proin commodo efficitur leo ac semper. Suspendisse eu tellus lectus. Curabitur dapibus ipsum ut ultrices sodales. Aenean quis placerat nibh. Fusce dapibus, nisi at mollis hendrerit, tortor urna semper diam, in congue arcu turpis a urna. Aenean euismod elit ultrices orci mattis, nec pellentesque libero tempus. Morbi pulvinar sit amet libero quis venenatis. Aliquam vehicula, felis vel imperdiet euismod, libero nibh scelerisque ante, vel vehicula lectus leo eget nulla. Nullam id rhoncus lacus, non pretium nibh. Phasellus auctor eros id arcu sollicitudin, vitae vehicula ligula faucibus. Mauris sodales lorem vel urna aliquet sagittis.
 </div> 
 <div id="right_col">
 Nunc molestie eget nisi vitae dictum. Mauris sodales nisl id metus bibendum, ac ornare odio finibus. Etiam eget lacus nisi. Aenean eget consectetur lorem. Sed vel feugiat tortor. Nunc rutrum pellentesque purus, ac tristique orci laoreet eget. Sed posuere vestibulum euismod. Curabitur pretium id leo ut placerat. Nulla turpis nulla, eleifend vitae dui ut, volutpat ultricies ipsum. Ut a mauris at magna egestas sodales vel eu augue. Donec sagittis vel erat eget vulputate. In vel bibendum nisl, a mattis quam. Praesent finibus enim ut dui dictum pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse rhoncus imperdiet nulla, in egestas diam tincidunt quis. Vestibulum eu convallis massa.
 </div>
 </div>
 </div>
 <div id="footer">
 <hr>All rights reserved ©</div> 
 </div>
</body>
</html>

<%= link_to 'About', about_path %>