$navbar-default-bg: #ffb366;

@import "bootstrap-sprockets";
@import "bootstrap";


/*full size bg image

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: asset-url("#");
  height: 100%;
  background-position: left top;
  background-repeat: repeat;
  background-size: auto;
}*/

body {
  background: #f2f2f2;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: grey;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#link {
  
}

#link:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('black_to_grey.jpg');
  background-size: cover;
  height: 800px;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

.btn-xlarge {
  font-size: 1.7em;
  color: white;
  background-color: #f29c46;
  border: none;
}

.btn-xlarge:hover {
  background-color: #ffb366;
  color: grey;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #000;
  color: grey;
}

footer a:hover {
  color:#ffb366 ;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}